.home{
    h1{
        font-size: 6rem;
    }
    .presentacion{
        margin-top: 5rem;      
    }
    .fotografias{
        position: relative;
        @media screen and(max-width:767px){
            margin-top: 2rem;
            height: 100vh;
        }
        .fotografia{
            position: absolute;
            &:nth-child(2){
                top: 150px;
                right: 0;
                transform: rotate(15deg);
            }
            &:nth-child(3){
                top: 260px * 1.2;
                left: 0;
            }
        }
        
    }
}
.fotografia{
    @include foto(250px,260px);
}
.title-container{
    h2{
        text-transform: uppercase;
        width: max-content;
        margin: 0 auto;
        position: relative;
        &::after{
            content: "";
            display: block;
            width: 200px;
            height: 5px;
            background-color: #000;
            position: absolute;
            top:0;
            bottom: 0;
            margin:auto;
            left: 180px;
        }
        &::before{
            content: "";
            display: block;
            width: 200px;
            height: 5px;
            background-color: #000;
            position: absolute;
            top:0;
            bottom: 0;
            margin:auto;
            right: 180px;
        }
    }
}
.album{
    .contenedor-grid{
        @media screen and(max-width:991px){
            grid-template-rows: repeat(3,370px);
            transform: translateX(20vw);
        }
    }
    .contenedor-fotografia{
        margin-top: 5rem;
        position: relative;
        &:hover > .fotografia:nth-child(2){
            transform: translateX(20px);
        }
        .fotografia{
            position: absolute;
            transition: .2s ease-in-out;
            &:nth-child(2){
                top:20px;
                left: 40px;
            }
            &:nth-child(1){
                top:40px;
                left: 0;
            }
        }
        h3{
            position: absolute;
            top:205px;
            left: 90px;
        }
    }
}